@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row  d-flex justify-content-center align-items-start">
        <div class="col-md-5">
            <h1 class="mt-5" style="font-family: 'Merriweather', serif;
">
                What is Lorem Ipsum?
            </h1>
            <p class="mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <button class="btn text-white mt-2 ml-2 mb-4" style="background-color: #74b588">Read More...</button>
        </div>
        <div class="col-md-7">
           <img src="~/img/homePage.png" src="" class="img-fluid" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class=" py-4" style="background-color: #74b588;">
                <h3 class="text-center text-white" style="font-family: 'Merriweather', serif;">
                    Check out our most popular courses
                </h3>
            </div>
        </div>
    </div>
    <div class="row my-3 mb-5">
        <div class="col-sm-3 col-md-6 col-sm-6 col-lg-4 mt-5 d-flex justify-content-center">
            <div class="card shadow" style="width: 18rem;">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">React</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn rounded-0" style="border-color: #74b588;">Enroll now</a>
                </div>
            </div>
        </div>
    </div>
</div>