@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row  d-flex justify-content-center align-items-start">
        <div class="col-md-5">
            <h1 class="mt-5" style="font-family: 'Merriweather', serif;
">
                Welcome to Level Plus!
            </h1>
            <p class="mt-4">Discover a new way to improve your skills and reach new heights with our cutting-edge course offerings. With Level Plus, you can unlock your full potential from the comfort of your own home. Say goodbye to traditional learning limitations and hello to a flexible and engaging online learning experience.</p>
            <button class="btn text-white mt-2 ml-2 mb-4" style="background-color: #74b588">Read More...</button>
        </div>
        <div class="col-md-7">
           <img src="~/img/homePage.png" src="" class="img-fluid" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class=" py-4" style="background-color: #74b588;">
                <h3 class="text-center text-white" style="font-family: 'Merriweather', serif;">
                    Check out our most popular courses
                </h3>
            </div>
        </div>
    </div>
    <div class="row my-3 mb-5">
        @foreach (var course in Model)
        {
            <div class="col-sm-3 col-md-6 col-sm-6 col-lg-4 mt-5 d-flex justify-content-center">
                <div class="card shadow" style="width: 18rem;">
                    <img class="card-img-top text-center" style="width: 17rem; height: 260px" src="@course.CourseImg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title">@course.Title</h5>
                        <p class="card-text">@course.Price <i class="bi bi-currency-euro"></i></p>
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id" class="btn" style="border-color: #74b588;">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>