@model Level_plus___Team_23.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<h2 style="color: #495057">Edit Course</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseID" />

            <div class="input-wrapper mt-3">
                <input asp-for="Title" class="create-input" type="text" id="title" required>
                <label asp-for="Title" class="create-label" for="title">Title</label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="input-wrapper mt-3">
                <textarea asp-for="Description" class="create-input" id="description" rows="6" required> </textarea>
                <label asp-for="Description" class="create-label" for="description">Description</label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="input-wrapper mt-3">
                <input asp-for="VideoUrl" class="create-input" type="text" id="videoUrl" required>
                <label asp-for="VideoUrl" class="create-label" for="videoUrl">Video Url</label>
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>


            <div class="input-wrapper mt-3">
                <input asp-for="Price" class="create-input" type="text" id="price" required>
                <label asp-for="Price" class="create-label" for="price">Price</label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <input type="submit" value="Create" class="btn" style="background-color: #74b588; margin-left: 10px; color:white" />

                <a class="btn" style="background-color: #adb5bd; margin-left: 10px; color:white" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
