
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var user = await UserManager.GetUserAsync(User);

        if (user.Role == "Admin") //TODO: check if admin
        {
            
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="DeleteStudentsAccount">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="LevelPlusAccount" asp-action="GiveRole">Give Role</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Shopping Cart</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Bought">
                    Bought Courses
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="LikedCourses">
                    Favourite List
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="WatchLaterCourses">
                    Watch Later
                </a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-success btn" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Logged: @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link text-white btn" style="background-color: #74b588;">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white btn" style="background-color: #74b588;" asp-controller="LevelPlusAccount" asp-action="Register">Register</a>
        </li>

    }
</ul>
